
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar */
nav {
  display:flex ;
  width: 85%;
  height: 41px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}
.nav-logo{
  color: #E6533C;
  font-size: 36px;
  font-weight: 900;
}
 
.nav-list-item ul{
  display: flex;
  gap: 42px;
}
ul li a{
  text-decoration: none;
  list-style: none;
  color: white;


}

.home-btn{
  height: 36px;
  width: 96px;
  background-color: #E6533C;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: bold;
}


.nav-list-item {
  border: 1px solid rgba(128, 128, 128, .3);
  border-radius: 15px;
  padding: 10px 15px 5px 5px;
}
