
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
}



*{
    margin: 0;
    padding: 0;
}
/* navbar */
nav {
  display:flex ;
  width: 85%;
  height: 41px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}
.nav-logo{
  color: #E6533C;
  font-size: 36px;
  font-weight: 900;
}
 
.nav-list-item ul{
  display: flex;
  gap: 42px;
}
ul li a{
  text-decoration: none;
  list-style: none;
  color: white;


}
.nav-list-item ul li{
  display: flex;
  align-items: center;
}

.home-btn{
  height: 36px;
  width: 96px;
  background-color: #E6533C;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: bold;
}


.nav-list-item {
  border: 1px solid rgba(128, 128, 128, .3);
  border-radius: 15px;
  padding: 10px 15px 5px 5px;
}

/* hero-section */
.hero-section{
  width: 85%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hero-text-button{
  width: 50%;
}
.hero-text-button h1{

 color: white;
  font-size: 78px;
  font-weight: 900;
}
.hero-button-box{
  margin-top: 28px;
  margin-bottom: 28px;

}
.hbtn{
  height:54px;
  width: 254px;
  border-radius: 20px;
}
.hero-btn1{
  background-color: #E6533C;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
.hero-btn2{
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  color: white;
  font-size: 18px;
  font-weight: 600;

}
.hero-paragraph{
  color:rgba(255, 255, 255, .5); ;
  font-size: 16px;
  font-weight: 400;
  
  
}
/* floating card */
.card-1{
  color: white;
  height: 98px;
  width: 193px;
  background-color: rgba(255, 255, 255, .1);
 align-items: center;
 text-align: center;
 border-radius: 10px;
 position: absolute;
  top: 250px;
  right: 65px;
}
.card-big-text{
  font-size: 36px;
  font-weight: 900;
   padding-top: 10px;
   
  
  
}
.card-2{
  display: flex;
  gap: 10px;
 color: white;
  height: 98px;
  width: 193px;
  background-color: rgba(255, 255, 255, .1);
 align-items: center;
 text-align: center;
 border-radius: 10px;
 padding-left: 10px;
 position: absolute;
 bottom: 80px;
 right: 350px;
}
.card-big-text{
  font-size: 36px;
  font-weight: 900;
   padding-top: 10px;
   
}
.card-2-circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #E6533C;
  
}

/* habbit section style  */

.habits-section{
  width: 85%;
  margin:  75px auto;
 
}
.habit-heading{
  text-align: center;
  margin-bottom: 58px;
  margin-top: 50px;
}
.habit-heading h2{
  color: white;
  font-size: 48px;
  font-weight: 900;
  
}
.habit-heading p{
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
 margin-top: 10px;
}
.all-activity-box{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.activity-box{
  height: 271px;
  width: 231px;
  text-align: center;
}
.activity-box h4{
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
}
.activity-box p{
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
}
.activity-box img{
  border-radius: 50%;
}
/* run extra mile section */

.runnig-box{
  display: flex;
  gap: 20%;
  background-color:rgba(128, 128, 128, .3); 
  padding: 15px 15px 10px 35px;
  border-radius: 25px;
  margin-top: 20px;
}
.runnig-box-img{
  width: 40%;
}
.runnig-box-img img{
  width: 100%;
  border-radius: 25px;
}
.runnig-box-text{
  width: 40%;
  padding-top: 10px;

}
.runnig-box-text h2{
  color: white;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}
.runnig-box-text p{
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  margin-bottom: 25px;
}

/* training section starts here */
.training-section{
  width: 85%;
  margin:  75px auto;
 
}
.training-section-head h2 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  
  margin-bottom: 14px;
  
}
.training-section-head p{
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  margin-bottom: 58px;
}
.box1-img1{
  width: 250px;
  height: 201px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(6 , 255 ,210 , 0.5) , rgba(6, 255 , 210 , 0.5)) , url(../images/exercise1.jpg);
  
  
}
.box1-img2{
  width: 520px;
  height: 201px;
  background-size: cover;
  background-image: url(../images/exercise2.png);

}
.box1-img3{
  width: 290px;
  height: 201px;
  background-size: cover;
  background-image: url(../images/exercise3.png);
  
}
.img-box1{
  display: flex;
}
.box2-img1{
  height: 201px;
  width: 425px;
  background-image: url(../images/exercise4.png);
  background-size: cover;
  
}
.box2-img2{
  height: 201px;
  width: 288px;
  background-image: url(../images/exercise5.jpg);
  background-size: cover;
  
}
.box2-img3{
  height: 201px;
  width: 347px;
  background-image: url(../images/exercise6.jpg);
  background-size: cover;
  
}
.img-box2{
  display: flex;
}
.img-box1 , .img-box2 p{
  color: white;
  display: flex;
  align-items: center;
  
  
}
